<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrar Productos</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <h1>Productos</h1>
    <a th:href="@{/admin/nuevo}" class="btn">Agregar Nuevo</a>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Talla</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.nombreProducto}"></td>
            <td th:text="${producto.precioProducto}"></td>
            <td th:text="${producto.descripcionProducto}"></td>
            <td>
                <a th:href="@{'/admin/editar/' + ${producto.idProducto}}">Editar</a>
                |
                <a th:href="@{'/admin/eliminar/' + ${producto.idProducto}}" 
                   onclick="return confirm('¿Estás seguro de eliminar?')">Eliminar</a>
            </td>
        </tr>
    </table>
</body>
</html> -->
