<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{components/fragments :: cabecera('Toke Inka - Detalle Producto')}"></head>

<body>
    <section class="d-flex flex-column min-vh-100">
        <header th:replace="~{components/fragments :: header}"></header>

        <main class="flex-grow-1 py-5">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="@{'/imagenes/' + ${producto.imagenProducto}}" class=""
                            alt="Imagen del producto">
                    </div>
                    <div class="col-md-6">
                        <h2 th:text="${producto.nombreProducto}"></h2>
                        <p th:text="${producto.descripcionProducto}"></p>
                        <h4 th:text="'S/ ' + ${producto.precioProducto}"></h4>
                        <a th:href="@{/productos}" class="btn btn-secondary">Volver</a>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <h3>Productos Relacionados</h3>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="productosRelacionadosLista">
                    <div th:each="p : ${productos}" class="container">
                        <a th:href="@{'/productos/detalle/' + ${p.idProducto}}"
                            style="text-decoration: none; color: inherit;">
                            <div class="card h-100 shadow-sm">
                                <img th:src="@{'/imagenes/' + ${p.imagenProducto}}"
                                    class="card-img-top object-fit-cover" style="height: 400px; width: 100%;"
                                    th:alt="${p.nombreProducto}">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold" th:text="${p.nombreProducto}"></h5>
                                    <p class="card-text" th:text="${p.descripcionProducto}"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="~{components/fragments :: footer}"></footer>
    </section>
</body>

</html>