<!DOCTYPE html>
<html lang="es">

<head th:replace="~{components/fragments :: cabecera('Toke Inka: La chispa que enciende tu estilo')}">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NEEEWBD00R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NEEEWBD00R');
    </script>
</head>

<body>
    <header th:replace="~{components/fragments :: header}"></header>

    <div class="position-relative">
        <section id="inicio" class="hero">
            <h2>Toke Inka</h2>
            <p>Diseñamos y elaboramos productos peruanos con aplicaciones inspiradas en nuestra cultura</p>
            <a href="/productos" class="btn-index">Ver Productos</a>
        </section>

    </div>
    <section>
        <div class="container">
            <div class="barra">
                <h2>NOVEDADES</h2>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/camisero_azul.jpg" alt="Producto 3c" />
                </div>
                <h3>Camisero Azul</h3>
                <p>Sise M</p>
                <p>s./ 70.00</p>
                <button data-product="Producto 1c" data-description="camisero_azul " data-price="70.15"
                    data-codigo="CAM-003">Agregar al carrito</button>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/polo_blanco.jpg" alt="Producto 2p" />
                </div>
                <h3>Polo cabeza clava</h3>
                <p>Size L</p>
                <p>s./ 60.00</p>
                <button data-product="Polo blanco" data-description="Polo cabeza clava" data-price="60"
                    data-codigo="POL-002">Agregar al carrito</button>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/polera_marroninca.jpg" alt="Producto 3p" />
                </div>
                <h3>Polera estampada marron</h3>
                <p>Size S</p>
                <p>s./ 70.00</p>
                <button data-product="Producto 3pl" data-description="Polera marron inca" data-price="70"
                    data-codigo="POL-003">Agregar al carrito</button>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/gorra_diosinti.jpg" alt="Producto 1g">
                </div>
                <h3>Gorra Dios Inti</h3>
                <p>S/.70.00</p>
                <button data-product="Producto 1g" data-description="Gorra Dios Inti" data-price="70.00"
                    data-codigo="GORRA-001">Agregar al carrito</button>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/zapatilla_negra.jpg" alt="producto 2pantalones">
                </div>
                <h3>Zapatilla Urban negro yana</h3>
                <p>Size 9</p>
                <p>s./390.00</p>
                <button data-product="Producto 2z" data-description="Zapatilla Urban negro yana" data-price="390.00"
                    data-codigo="ZAP-005">Agregar al carrito</button>
            </div>
            <div class="product">
                <div class="image">
                    <img src="../images/jogger_azul.jpg" alt="Catálogo zapatillas1">
                </div>
                <h3>Jogger fit Azul</h3>
                <p>Size M</p>
                <p>s./129.00</p>
                <button data-product="Producto 1p" data-description="Jogger fit azul" data-price="129.00"
                    data-codigo="PANT-001">Agregar al carrito</button>
            </div>
        </div>
    </section>

    <div class="wrapper-layer">
        <div class="layer">
            <span class="close-cart">&times;</span>
            <table class="shopping">
                <thead>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                </thead>
                <tbody></tbody>
            </table>
            <button id="btnPagar">Proceder a pago</button>
        </div>
    </div>

    <div id="modalOpcionesPago" class="modal" style="display: none;">
        <div class="modal-content">
            <button id="btnCerrarOpcionesPago" class="btnCerrarModal"><i class="fas fa-times"></i></button>
            <div class="payment-buttons"></div>
            <div id="paypal-button-container"></div>
        </div>
    </div>

    <!-- Modal de Datos de Envio -->
    <section>
        <div id="modalPagoEntrega" class="modal" style="display:none;">
            <div class="modal-content">
                <button id="btnCerrarPagoEntrega" class="btnCerrarModal"><i class="fas fa-times"></i></button>
                <h2>Datos de envio</h2>
                <form id="codForm" class="form-style" action="procesar_pago.php" method="post">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="state">Nombre y Apellido:</label>
                            <input type="text" id="state" name="state" required>
                        </div>
                        <label for="address">Dirección de entrega:</label>
                        <input type="text" id="address" name="address" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Ciudad:</label>
                        <input type="text" id="city" name="city" required>
                    </div>

                    <div class="form-group">
                        <label for="zipcode">Código Postal:</label>
                        <input type="text" id="zipcode" name="zipcode" required>
                    </div>
                    <div class="form-group">
                        <label for="country">País:</label>
                        <input type="text" id="country" name="country" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono de contacto(whatsapp):</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="px-md-5 px-4 pb-4 pt-4" style="background-color: rgb(238, 238, 238);">
        <h2 class="text-center d-flex justify-content-center align-items-center fw-bold pb-3 fs-2">
            ¿Dónde encontrarnos?
        </h2>

        <!-- Local principal -->
        <div
            class="container-fluid d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3 pb-5">
            <div class="d-flex flex-column justify-content-center pe-md-3 w-100 w-md-75">
                <p class="text-center fs-3">
                    Estamos ubicados en <b>La Molina, Lima, Perú.</b> Puedes visitarnos en nuestra tienda o
                    contactarnos a través de nuestras redes sociales.
                </p>
                <p class="text-center fs-3"> <!-- d-none d-lg-block | para borrar el lg -->
                    <b>Dirección:</b> Av. La Molina 123, La Molina, Lima, Perú
                </p>
            </div>

            <div class="w-100 w-md-75 min-vh-25">
                <div class="ratio ratio-16x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d344.8616207899822!2d-76.9493799448819!3d-12.066633960373302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b74e3795ac57%3A0xb6259616e27c0052!2sToKe%20InKa%20-%20Siente%20lo%20nuestro%20-%20La%20Molina!5e0!3m2!1ses-419!2spe!4v1746941558051!5m2!1ses-419!2spe"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- <p class="text-center fs-3 d-block d-lg-none">
                        <b>Dirección:</b> Av. La Molina 123, La Molina, Lima, Perú
                    </p> 
                    | para que aparezca en lg -->
                </div>
            </div>
        </div>

        <hr><br>
        <!-- Otros establecimientos -->
        <div class="container-fluid pb-5">
            <h3 class="text-center d-flex justify-content-center align-items-center fw-bold pb-3 fs-2">
                Puedes encontrarnos en diferentes puntos de Lima. Aquí te mostramos algunos de nuestros
                establecimientos.
            </h3>

            <div class="d-flex flex-column flex-lg-row justify-content-center align-items-start w-100 w-md-75 pt-4 gap-5">
                <div class="w-100 w-md-50 min-vh-25 d-flex flex-column justify-content-center align-items-center">
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d487.5890338709198!2d-77.0306274!3d-12.1318286!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b7e1b4b5a533%3A0xa549043226dcfb18!2sLarcomar!5e0!3m2!1ses!2spe!4v1747103167346!5m2!1ses!2spe"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="d-flex flex-column justify-content-center w-100 w-md-75 pt-md-3 pt-2">
                        <p class="text-center fs-3">
                            <b>Dirección:</b> Larcomar, Mal. de la Reserva 610, Miraflores 15074, Lima, Perú
                        </p>
                    </div>
                </div>
                <div class="w-100 w-md-50 min-vh-25 d-flex flex-column justify-content-center align-items-center">
                    <div class="ratio ratio-16x9">
                        <iframe
                             src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d226.02277525286843!2d-77.0296276!3d-12.1259994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81ec27ff273%3A0x2d1f63af14f3a875!2sTorre%20Larco!5e1!3m2!1ses!2spe!4v1747103123167!5m2!1ses!2spe"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="d-flex flex-column justify-content-center w-100 w-md-75 pt-md-3 pt-2">
                        <p class="text-center fs-3">
                            <b>Dirección:</b> Av. José Larco 812, Miraflores 15074, Lima, Perú
                        </p>
                    </div>
                </div>
                <div class="w-100 w-md-50 min-vh-25 d-flex flex-column justify-content-center align-items-center">
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d226.02596045549575!2d-77.0276628!3d-12.1222408!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81bd7d52d71%3A0xd0f1cb59a3d79bf6!2sAv.%20Ernesto%20Diez%20Canseco%20315%2C%20Miraflores%2015074!5e1!3m2!1ses!2spe!4v1747103219471!5m2!1ses!2spe"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="d-flex flex-column justify-content-center w-100 w-md-75 pt-md-3 pt-2">
                        <p class="text-center fs-3">
                            <b>Dirección:</b> Av. Ernesto Diez Canseco 315, Miraflores 15074, Lima, Perú
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{components/fragments :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AYhM7Gub_jwpY34KhU90XB7F6AlZOCZmitUmdZ4qjZTzkXFF6L-KXjBpJLXeA8gVDs0zYvjaiBADujQQ"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>