<!DOCTYPE html>
<html lang="es">

<head th:replace="~{components/fragments :: cabecera('Toke Inka - Iniciar Sesión')}"></head>

<body>
    <section class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <div class="d-flex flex-column flex-md-row bg-warning rounded shadow no-shadow-md-down overflow-hidden"
            style="max-width: 1000px; width: 100%;">

            <div class="w-100 w-md-50 d-none d-md-block">
                <img src="../images/login_image.jpg" alt="Logo Toke Inka"
                    class="img-fluid h-100 w-100 object-fit-cover" />
            </div>

            <div class="w-100 h-100 w-md-50 bg-white p-4 d-flex flex-column justify-content-center gap-4">
                <h1 class="fs-3 text-center h-100 d-flex justify-content-center align-items-end">Iniciar Sesión</h1>
                <form th:action="@{/login}" method="post" class="gap-4 d-flex flex-column justify-content-around">
                    <div class="">
                        <input class="form-control" type="email" name="username" placeholder="Correo" required
                            aria-describedby="inputHelpBlock" />
                        <div id="inputHelpBlock" class="form-text">Ingrese su correo electrónico asociado a su cuenta.
                        </div>
                    </div>
                    <div class="">
                        <input class="form-control" type="password" name="password" placeholder="Contraseña" required
                            aria-describedby="passwordHelpBlock" />
                        <div id="passwordHelpBlock" class="form-text">Ingrese su contraseña. Debe tener al menos 8
                            caracteres.</div>
                    </div>
                    <button type="submit" class="w-100">Iniciar Sesión</button>
                    <p class="text-center">¿No tienes una cuenta? <a th:href="@{/register}"
                            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Regístrate
                            aquí</a></p>
                </form>
                <div class="text-center h-75 w-100 d-flex justify-content-end align-items-end">
                    <a href="/" class="link-primary link-offset-2 link-underline link-underline-opacity-0 ">
                        <i class="bi bi-arrow-left"></i> Volver al inicio
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>