<!DOCTYPE html>
<html>

<head th:replace="~{components/fragments :: cabecera('Toke Inka - Nosotros')}">
</head>

<body>

    <header th:replace="~{components/fragments :: header}"></header>

    <div class="adv">
        <div class="cuadro">
            <H2> SOBRE NOSOTROS</H2>
            <H4> Comprometidos con los nuevos tiempos, En Toke inka nos comprometemos a brindar un servicio moderno,
                seguro y rápido. ¡Queremos llevar las mejores marcas de la cultura peruana en la puerta de tu casa
                en el menor tiempo posible! </H4>
            <H4>La empresa Toke Inka fue fundada desde el 2012, ha estado operando exclusivamente desde una tienda
                física en Lima. Se especializa en zapatos y zapatillas basados en modelos de nuestra cultura peruana
                haciéndose así una de las empresas medianamente conocidas en la ciudad de Lima. </H4>
            <hr>
            <H4> Numero de contactos</H4>
            <H4> 938592008</H4>

            <H4>Correo electrónico</H4>
            <H4>TokeInkabooking@gmail.com</H4>
        </div>
        <div class="img">
            <img src="../images/cister.jpg" alt="cister" width="700x700">
        </div>

    </div>

    <footer id="piedepagina"></footer>
    <div class="contenedor">
        <ul>
            <li><a href="prototipo.html">Sobre nosotros</a></li>
            <li><a href="index.html">Inicio</a></li>
        </ul>
    </div>

    <footer th:replace="~{components/fragments :: footer}"></footer>
    
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>