<!DOCTYPE html>
<html lang="es">

<head th:replace="~{components/fragments :: cabecera('Nuevo producto')}"></head>

<body>
    <div class="d-flex min-vh-100">
        <header th:replace="~{components/fragments :: navAdmin}"></header>
        <section class="d-flex flex-column align-items-center w-100 px-4 py-4">
            <div class="d-flex align-items-center py-2">
                <h1 class="align-middle"><b>Nuevo producto</b></h1>
            </div>
            <form th:action="@{/admin/productos/guardar}" th:object="${producto}" method="post"
                class="w-50 d-flex flex-column gap-3" enctype="multipart/form-data">
                <input type="hidden" th:field="*{idProducto}" />

                <div class="d-flex flex-column gap-2">
                    <label>Nombre:</label>
                    <input type="text" th:field="*{nombreProducto}" maxlength="50" required class="form-control" />
                </div>
                <div class="d-flex flex-column gap-2">
                    <label>Descripción:</label>
                    <textarea th:field="*{descripcionProducto}" required class="form-control"></textarea>
                </div>

                <div class="d-flex flex-column gap-2">
                    <label>Categoría:</label>
                    <select th:field="*{categoria.idCategoria}" class="form-control" required>
                        <option value="" disabled>Selecciona una categoría</option>
                        <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}"
                            th:text="${cat.nombreCategoria}">
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-column gap-2">
                    <label>Precio:</label>
                    <input type="number" step="0.01" th:field="*{precioProducto}" min="0" required
                        class="form-control" />
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="imagen" class="form-label">Imagen del producto</label>
                    <input class="form-control" type="file" id="imagen" name="imagen">
                    <input type="hidden" name="imagenActual" th:value="${producto.imagenProducto}" />
                </div>

                <div class="d-flex flex-column gap-2" th:if="${producto.imagenProducto != null}">
                    <label>Imagen actual:</label>
                    <img th:src="@{'/imagenes/' + ${producto.imagenProducto}}" class="img-thumbnail"
                        style="max-height: 200px; max-width: 200px;" />
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" id="guardar-button" class="btn btn-primary">Guardar</button>
                    <a th:href="@{/admin/productos(page=${paginaActual})}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </section>
    </div>
</body>

</html>