<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Producto</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <h1>Productos</h1>
    <form th:action="@{/admin/guardar}" th:object="${producto}" method="post">
        <input type="hidden" th:field="*{idProducto}"/>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombreProducto}" maxlength="50" required/><br/>
        <label>Descripción:</label>
        <textarea th:field="*{descripcionProducto}" required></textarea><br/>
        <label>Precio:</label>
        <input type="number" step="0.01" th:field="*{precioProducto}" min="0" required/><br/>
        <label>Imagen URL:</label>
        <input type="text" th:field="*{imagenProducto}" /><br/>
        <button type="submit" id="guardar-button" class="btn btn-primary">Guardar</button>
    </form>
</body>
</html>
