<!DOCTYPE html>
<html lang="en">
<head th:replace="~{components/fragments :: cabecera('Toke Inka - Registrarse')}">
<body>
    <form th:action="@{/registro}" th:object="${usuario}" method="post">
    <input type="text" th:field="*{username}" placeholder="Usuario" required />
    
    <input type="password" th:field="*{password}" placeholder="Contraseña" required />
    <select th:field="*{rol}">
        <option value="USER">Usuario</option>
    </select>
    <button type="submit">Registrar</button>
</form>
</body>
</html>