<!DOCTYPE html>
<html lang="es">

<head th:replace="~{components/fragments :: cabecera('Nueva talla')}"></head>

<body>
    <div class="d-flex min-vh-100">
        <header th:replace="~{components/fragments :: navAdmin}"></header>
        <section class="d-flex flex-column align-items-center w-100 px-4 mt-5">
            <div class="d-flex align-items-center py-2">
                <h1 class="align-middle">Nueva Talla</h1>
            </div>
            <form th:action="@{/admin/tallas/guardar}" method="post" th:object="${talla}"
                class="w-25 d-flex flex-column gap-3">
                <input type="hidden" th:field="*{idTalla}" />

                <div class="d-flex flex-column gap-2">
                    <label>Nombre de la talla:</label>
                    <input type="text" th:field="*{nombreTalla}" maxlength="50" required class="form-control" />
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" id="guardar-button" class="btn btn-primary">Guardar</button>
                    <a th:href="@{/admin/tallas}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </section>
    </div>
</body>

</html>