<html>

<head th:replace="~{components/fragments :: cabecera('Toke Inka - Zapatillas')}">
    <style>
        .modal-content .payment-buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
        .modal-content .payment-buttons button {
            margin: 5px;
        }
        </style>
    <title>Zapatillas </title>
   
</head>
<body>
    <header th:replace="~{components/fragments :: header}"></header>
    
    <div class="container">
        <div class="product">
            <div class="image">
           <img src="../images/zapatillaa_azul.jpg" alt="Catálogo zapatillas" width="250x250">
            </div>
            <h3>Zapatilla Altiplano marino </h3>
            <p>Size 8.5</p>
            <p>s./699.00</p>
            <button data-product="Producto 1z" data-description="Zapatilla Altiplano marino" data-price="699.00" data-code="ZAP-001">Agregar al carrito</button> 
        </div>
        <div class="product">
            <div class="image">
           <img src="../images/zapatilla_azul_alta.jpg" alt="Catálogo zapatillas1">
            </div>
            <h3>Zapatilla Urban high top doble cinta</h3>
            <p>Size 9.5</p>
            <p>s./429.00</p>
            <button data-product="Producto 2z" data-description="Zapatilla Urban high top doble cinta" data-price="429.00" data-code="ZAP-002">Agregar al carrito</button> 
        </div>
        <div class="product">
            <div class="image">
           <img src="../images/zapatilla_blanca.jpg" alt="Catálogo zapatillas2">
            </div>
            <h3>Zapatilla Urban blanco y toffe</h3>
            <p>Size 9</p>
            <p>s./350.00</p>
            <button data-product="Producto 3z" data-description="Zapatilla Urban blanco y toffe" data-price="350.00" data-code="ZAP-003">Agregar al carrito</button> 
        </div>
        <div class="product">
            <div class="image">
           <img src="../images/zapatilla_blanca_alta.jpg" alt="Catálogo zapatillas3">
        </div>
            <h3>Zapatilla Urban high top blanco y plomo</h3>
            <p>Size 9</p>
            <p>s./430.00</p>
            <button data-product="Producto 4z" data-description="Zapatilla Urban high top blanco y plomo" data-price="430.00" data-code="ZAP-004">Agregar al carrito</button> 
        </div>

        <div class="product">
            <div class="image">
             <img src="../images/zapatilla_negra.jpg" alt="Catálogo zapatillas4">
            </div>
            <h3>Zapatilla Urban negro yana</h3>
            <p>Size 10</p>
            <p>S/. 290.00</p>
            <button data-product="Producto 5z" data-description="Zapatilla Urban negro yana" data-price="290.00" data-code="ZAP-005">Agregar al carrito</button>
          </div>
          
          <div class="product">
            <div class="image">
             <img src="../images/zapatilla_ploma_alta.jpg" alt="Catálogo zapatillas5">
            </div>
            <h3>Zapatilla Urban high top negro y plomo</h3>
            <p>Size 8</p>
            <p>S/. 380.00</p>
            <button data-product="Producto 6z" data-description="Zapatilla Urban high top negro y plomo" data-price="380.00" data-code="ZAP-006">Agregar al carrito</button>
          </div>
        </div>

        <div class="wrapper-layer">
        <div class="layer">
            <span class="close-cart">&times;</span>
            <table class="shopping">
              <thead>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>    
                <th>Eliminar</th>                
            </thead>
                <tbody></tbody>
            </table>
            <button id="btnPagar">Proceder a pago</button>
        </div>
    </div>
    
    <div id="modalOpcionesPago" class="modal" style="display: none;">
        <div class="modal-content">
            <button id="btnCerrarOpcionesPago" class="btnCerrarModal"><i class="fas fa-times"></i></button>
            <div class="payment-buttons"></div>
            <div id="paypal-button-container"></div>
        </div>
    </div>
    
    
    
    <!-- Modal de Datos de Envio -->
    <div id="modalPagoEntrega" class="modal" style="display:none;">
        <div class="modal-content">
            <button id="btnCerrarPagoEntrega" class="btnCerrarModal"><i class="fas fa-times"></i></button>
            <h2>Datos de envio</h2>
            <form id="codForm" class="form-style" action="procesar_pago.php" method="post">
                <div class="form-group">
                    <label for="address">Dirección de entrega:</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="form-group">
                    <label for="city">Ciudad:</label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form-group">
                    <label for="state">Estado/Provincia:</label>
                    <input type="text" id="state" name="state" required>
                </div>
                <div class="form-group">
                    <label for="zipcode">Código Postal:</label>
                    <input type="text" id="zipcode" name="zipcode" required>
                </div>
                <div class="form-group">
                    <label for="country">País:</label>
                    <input type="text" id="country" name="country" required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono de contacto:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-submit">Confirmar</button>
                </div>
            </form>        
        </div>
    </div>
    
    <footer th:replace="~{components/fragments :: footer}"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AYhM7Gub_jwpY34KhU90XB7F6AlZOCZmitUmdZ4qjZTzkXFF6L-KXjBpJLXeA8gVDs0zYvjaiBADujQQ"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>