body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

.header-top {
    background-color: #34495e; /* azul oscuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.main-nav {
    background-color: #e74c3c; /* rojo */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.main-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header .icon {
    display: none;
    padding-right: 15px;
    cursor: pointer;
}

header .shopping-cart {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7F8C8D;
    border-radius: 7px;
    font-size: 20px;
}

nav {
    background-color: #E74C3C; 
    padding: 15px 0; 
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease-in-out;
}



.wrapper, .wrapper-layer {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close, .close-cod {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, .close-cod:hover, .close-cod:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidebar {
    width: 350px;
    height: 100%;
    background: #34495E;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

.layer {
    width: 550px;
    height: 100%;
    background: #7F8C8D;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    z-index: 999;
}

.sidebar h1 {
    padding: 0 15px;
    margin: 15px 0;
}

.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li:hover {
    transition: all .3s ease-in-out;
    background: rgba(255, 255, 255, .2);
}

.principal {
    width: 60%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    padding-bottom: 10px;
}

.principal img {
    width: 100%; 
    height: auto; 
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
} 




.barra {
    background-color:#E74C3C;
    color: #34495E;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}

.product {
    float: left;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
}

.product .image {
    width: 100%;
    height: 400px;
}

.product .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
     border: 3px solid #E74C3C; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.product .image img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.product button {
    border: 0;
    outline: none;
    background: #E74C3C;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #c0392b;
}

footer {
    background-color: #34495E;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

table thead th, table tbody td {
    padding: 5px 10px;
}

@media only screen and (max-width: 992px) {
    header .icon {
        display: block;
    }

    nav {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .product {
        width: 100%;
    }
}

.wrapper-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.layer {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #d86b2c;
}

button[type="submit"] {
    background-color: #34495E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #E74C3C;
}

#piedepagina {
    background-color: #34495E;
    color: #fff;
    padding: 20px 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contenedor ul li a:hover {
    color: #E74C3C;
}

.contenedor ul {
    list-style: none;
    padding: 0;
}

.contenedor ul li {
    display: inline-block;
    margin: 0 10px;
}

.contenedor ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    text-align: center;
    color: #fff;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    margin-right: 10px;
}

.social-links svg {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}

/* Nosotros */
/* .adv {
    display: flex;
    justify-content: space-between;
    color: #000000;
} */
.cuadro {
    background-color: #7F8C8D;
}

.img {
    flex-direction: row-reverse;
}

/* Estilo para el botón de agregar al carrito */
.product button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #c0392b;
}

/* Estilo para el botón de eliminar */
.btnEliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnEliminar:hover {
    background-color: #c0392b;
}

/* Estilo para el botón de pagar */
#btnPagar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#btnPagar:hover {
    background-color: #218838;
}

/* Estilo para la notificación */
.notification {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.btnEliminar, #btnPagar {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btnEliminar:hover, #btnPagar:hover {
    background-color: #c9302c;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c9302c;
}

/*xd*/

.layer {
    width: 550px;
    height: 100%;
    background: #7F8C8D;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    z-index: 999;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}


.layer {
    width: 550px; /* Aumentar el ancho */
    height: 100%;
    background: #7F8C8D;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    z-index: 999;
}

.wrapper-layer {
    position: fixed;
    top: 0;
    right: 0;
    width: 550px; /* Aumentar el ancho */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}


.close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001; /* Asegura que esté siempre en el frente */
}

.close-cart:hover,
.close-cart:focus {
    color: #000;
    text-decoration: none;
}

/* Asegúrate de que el contenedor de la capa tiene suficiente padding para no tapar la "X" */
.layer {
    padding-top: 30px; /* Añade espacio suficiente para la "X" */
    width: 550px;
    height: 100%;
    background: #7F8C8D;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    z-index: 999;
}
/*
.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.success {
    display: none;
    position: fixed;
    top: 15px;
    right: 20px;
    transform: translateX(-50%);
    background-color: #dc3545;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

.error {
    background-color: #dc3545;
    transform: translateX(-50%);
    display: none;
    position: fixed;
    top: 15px;
    right: 20px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}
*/


#homeLink {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto */
    font-size: inherit; /* Mantiene el tamaño del texto */
    font-family: inherit; /* Mantiene la fuente del texto */
}



/* Estilos base del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Asegúrate de que el z-index sea alto */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 1001;  /* Asegúrate de que el z-index sea alto */
}

/* Botón cerrar modal */
.modal-content .btnCerrarModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #000; /* Asegúrate de que el color sea visible */
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px; /* Añade padding para hacer el área clickeable más grande */
    z-index: 1002; /* Asegúrate de que el z-index sea más alto que el del contenido del modal */
}

.modal-content .btnCerrarModal:hover {
    color: #555; /* Color al pasar el mouse */
}

/* Estilo del formulario */
.form-style {
    width: 100%;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.img-fluid {
    width: 85px;
    height: 60px;
}

.modal-content .payment-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-content .payment-buttons button {
    margin: 5px;
}

.hero {
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('https://d1ih8jugeo2m5m.cloudfront.net/2024/08/ideas_para_tienda_de_ropa_infantil-1200x685.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
    font-family:'Times New Roman', Times, serif;
}

.hero h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
}

.hero p {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    max-width: 800px;
}

.btn-index{
    background-color:#E74C3C;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-index:hover {
    background-color: #c0392b;
}